<app-layout>
  <div class="content">
    <div
      class="upload-container"
      (drop)="onDrop($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      [class.dragover]="isDragOver"
    >
      <mat-icon>cloud</mat-icon>
      <p>Arraste e solte o arquivo aqui ou</p>

      <button mat-raised-button color="primary" (click)="fileInput.click()">
        Selecionar arquivo
      </button>

      <input
        #fileInput
        type="file"
        (change)="onFileSelected($event)"
        accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        hidden
      />
    </div>

    <div *ngIf="fileName" class="file-name">
      <mat-icon>insert_drive_file</mat-icon>
      {{ fileName }}
    </div>

  </div>

</app-layout>
