@use '@angular/material' as mat;

html, body { height: 100%; }
body {
  margin: 0;
  background: var(--mat-sys-background);
}

p {
  font: var(--mat-sys-body-large);
}

label {
  font: var(--mat-sys-label-large);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
      tertiary: mat.$rose-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
